@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div id="login-layout" class="authorization-layout">
		<div class="authorization">
			<div class="authorization__container">
				<div class="authorization__title">
					<h1>Вход</h1>
				</div>
				<form id="account" method="post" class="authorization__form">
					<div class="authorization__inputs">
						<div class="authorization__login">
							<p>Почта или телефон:</p>
							<input asp-for="Input.Email" class="form-control" autocomplete="username"
								aria-required="true" />
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="authorization__password">
							<p>Пароль:</p>
							<input type="password" asp-for="Input.Password" class="form-control"
								autocomplete="current-password" aria-required="true" />
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
					</div>

					<button id="login-submit" type="submit">Войти</button>
					<div class="authorization__buttons">
						<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
					</div>
					<div class="authorization__buttons">
						<a id="forgot-password" asp-page="./ForgotPassword">Забыл пароль</a>
					</div>
					
				</form>
			</div>
		</div>
	</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
