@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div id="register-layout" class="authorization-layout">
		<div class="authorization">
			<div class="authorization__container">
				<div class="authorization__title">
					<h1>Регистрация</h1>
				</div>
				<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"
					class="authorization__form">
					<div class="authorization__inputs">
						<div class="authorization__login">
							<p>Ваша электронная почта:</p>
							<input asp-for="Input.Email" class="form-control" autocomplete="username"
								aria-required="true" />
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="authorization__password">
							<p>Придумайте пароль, пожалуйста:</p>
							<input type="password" asp-for="Input.Password" class="form-control"
								autocomplete="new-password" aria-required="true" />
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
						<div class="authorization__password">
							<p>Повторите пароль:</p>
							<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
								aria-required="true" />
							<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						</div>
					</div>
					<button id="registerSubmit" type="submit">Зарегистрироваться</button>
				</form>
			</div>
		</div>
	</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
