@{
    ViewData["Title"] = "Home Page";
}

<main>
		<div class="preview-container">
			<div class="preview-book">
				<div class="preview-book__container">
					<div class="preview-image-blur">
						<div class="image-blur__container">
							<img width="560px" src="~/img/PreviewBook/Preview-book-Books.jpg"
								alt="">
						</div>
					</div>
					<div class="preview-image">
						<img src="~/img/PreviewBook/Preview-book-Books.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="info-book">
				<div class="info-book__title">
					<h1>Переговоры за минуту. Экспресс-курс делового общения</h1>
				</div>
				<div class="info-book__author-name">
					<a href="">Эдуард Трымбовецкий</a>
				</div>
				<div class="subscribe">
					<div class="subscribe-label">
						<div class="subcribe-label__container">
							<div class="subscribe-price">
								<h4>По подписке</h4>
								<h2>549 руб.</h2>
							</div>
						</div>
					</div>
					<div class="subscribe-button">
						<div class="subscribe-button__container">
							<a href="">
								<button>
									<span>Оформить подписку</span>
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>