<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MyBook.WEB</title>
	<link rel="stylesheet" href="./style/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MyBook.WEB.styles.css" asp-append-version="true" />
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div class="header__container">
			<nav>
				<div class="nav__logo">
					<img src="~/img/logo/logo.svg" alt="">
					<img src="~/img/logo/mybook.svg" alt="">
				</div>
				<div class="nav__search">
					<span>
						<input id="search-input" type="text" placeholder="Книга или автор">
						<button style="display: none;" id="search-cancel"><img src="~/img/logo/cancel.svg"
								alt=""></button>
					</span>
				</div>
				<div class="nav__links">
					<div><a>Что выбрать</a></div>
					<div><a>Библиотека</a></div>
					<div><a>Подписка</a></div>
				</div>
				<div class="nav__btn-login">
					<a asp-area="Identity" asp-page="/Account/Login">Войти</a>
				</div>
			</nav>
			<menu>
				<div>
					<a href="" class="menu__link">📖 Книги </a>
				</div>
				<div>
					<a href="" class="menu__link">🎧 Аудиокниги</a>
				</div>
				<div>
					<a href="" class="menu__link">👌 Бесплатные книги</a>
				</div>
				<div>
					<a href="" class="menu__link">🔥 Новинки</a>
				</div>
				<div>
					<a href="" class="menu__link">❤️ Топ книг</a>
				</div>
				<div>
					<a href="" class="menu__link">🎙 Топ аудиокниг</a>
				</div>
				<div>
					<a href="" class="menu__link">🎙 Загрузи свой подкаст</a>
				</div>
			</menu>
		</div>
	</header>

	@RenderBody()

	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
	<script src="~/js/javascript.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>