@{
ViewData["Title"] = "Home Page";
}

<main>
	<div class="main__container">
		<div class="main__title">
			<div style="width: 50%;">
				<h1>MyBook - читайте и слушайте по одной подписке</h1>
				<button>∞ дней бесплатно</button>
			</div>
			<div style="width: 50">
				<span>
					<img src="~/img/photo.svg" width="460px">
				</span>
			</div>
		</div>
		<div class="main__icons">
			<div class="icon">
				<img src="~/img/books.svg" alt="">
				<div>
					<h3>385 000</h3>
					<p>книг</p>
				</div>
			</div>
			<div class="icon">
				<img src="~/img/headphones.svg" alt="">
				<div>
					<h3>120 000</h3>
					<p>книг</p>
				</div>
			</div>
			<div class="icon">
				<img src="~/img/star.svg" alt="">
				<div>
					<h3>+ 2 000</h3>
					<p>книг</p>
				</div>
			</div>
			<div class="icon">
				<img src="~/img/puzzle.svg" alt="">
				<div>
					<h3>Подборки</h3>
					<p>книг</p>
				</div>
			</div>
			<div class="icon">
				<img src="~/img/offline.svg" alt="">
				<div>
					<h3>Оффлайн</h3>
					<p>книг</p>
				</div>
			</div>
		</div>
		<div class="main__content">
		</div>
	</div>
</main>