@{
ViewData["Title"] = "Home Page";
}

<main>
	<div class="main__container">
		<div class="main__title">
			<div style="width: 50%;">
				<h1>MyBook - читайте и слушайте по одной подписке</h1>
				<button>∞ дней бесплатно</button>
			</div>
			<div style="width: 50">
				<span>
					<img src="~/img/photo.svg" width="460px">
				</span>
			</div>
		</div>
		<div class="main__icons">
			<div class="icon">
				<img src="~/img/books.svg" alt="">
				<div>
					<h3>385 000</h3>
					<p>книг</p>
				</div>
			</div>
			<div class="icon">
				<img src="~/img/headphones.svg" alt="">
				<div>
					<h3>120 000</h3>
					<p>книг</p>
				</div>
			</div>
			<div class="icon">
				<img src="~/img/star.svg" alt="">
				<div>
					<h3>+ 2 000</h3>
					<p>книг</p>
				</div>
			</div>
			<div class="icon">
				<img src="~/img/puzzle.svg" alt="">
				<div>
					<h3>Подборки</h3>
					<p>книг</p>
				</div>
			</div>
			<div class="icon">
				<img src="~/img/offline.svg" alt="">
				<div>
					<h3>Оффлайн</h3>
					<p>книг</p>
				</div>
			</div>
		</div>
		<div class="main__content">
				<div class="slider-label">
					<h3>Лучшие бизнес-книги</h3>
				</div>
				<div class="label-description">
					<p>Деловая и научно-популярная литература издательств «Манн, Иванов и Фербер», «Альпина Паблишер»,
						«Олимп-Бизнес» и других</p>
				</div>
				<div class="slider-container">
					<div class="swiper-container">
						<button class="slider-button-prev">
							<span>
								<img src="~/img/slider-button-prev.svg" alt="">
							</span>
						</button>
						<button class="slider-button-next">
							<span>
								<img src="~/img/slider-button-next.svg" alt="">
							</span>
						</button>
						<div class="swiper-wrapper">
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide card">
								<div class="card__content">
									<a href="">
										<img src="~/img/PreviewBook/Preview-book-Home.jpg"
											alt="">
									</a>
									<div class="card__label">
										<a href="">
											<p>Переговоры за минуту. Экспресс-курс делового общения</p>
										</a>
										<div class="card__author-book">
											<a href="">
												<div class="asd">
													Эдуард Трымбовецкий
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</main>