@model MyBook.WEB.Models.ChangePasswordViewModel


<form asp-action="ChangePassword" asp-controller="Profile" method="post">
    <div class="d-flex justify-content-between align-items-center my-3">
        <h4 class="text-right font-weight-bold">Настройка пароля</h4>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <label>Старый пароль</label><input asp-for="OldPassword" type="password" class="form-control rounded-hg" placeholder="Введите старый пароль">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <label>Новый пароль</label><input asp-for="NewPassword" type="password" class="form-control rounded-hg" placeholder="Введите новый пароль">
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-md-center">
        <button type="submit" class="btn rounded-hg border-width-2 font-weight-bold btn-outline-yellow-darker">Изменить</button>
    </div>
</form>