@model dynamic

@{
    ViewBag.Title = "О книжном клубе";
    Layout = "_Layout";
}

<section class="mb-8">
    <div class="container">
        <h1 class="font-weight-bold">О книжном клубе MyBook</h1>
        <h2 class="font-weight-bold font-size-4">Что это такое</h2>
        <p class="font-size-3">
            MyBook — это современная библиотека в интернете, которая открывает вам доступ к каталогу бестселлеров и классической литературы, включая новинки разных жанров: от художественных до научно-популярных книг и деловой литературы. Более 394 000 наименований из более чем двадцати разных жанров.
        </p>
        <p class="font-size-3">
            Привычная идея библиотеки в том, что вместо покупки отдельных книг вы получаете доступ ко всему каталогу. Мы не продаём книги и не заставляем их скачивать, а даём читать без ограничений и на разных устройствах. Достаточно оформить подписку.
        </p>
        <p class="font-size-3">
            В привычном понимании электронные книги до сих пор были похожи на бумажные: это отдельные файлы, которые нужно где-то скачать и хранить, после этого закинуть в ридер-читалку, а если у вас несколько устройств для чтения, то придётся на каждом поддерживать отдельную копию своей библиотеки. Если же вы не просто читаете книги, а ещё и сохраняете цитаты и закладки, то синхронизировать всё это чаще всего приходится вручную.
        </p>
        <p class="font-size-3">
            Именно для тех, кто читает много и с удовольствием, мы решили сделать MyBook — клуб-библиотеку, вступив в который вы сможете читать не только книги, которые у вас уже есть, но и издания из нашего обширного каталога.
        </p>
    
        <h2 class="font-weight-bold font-size-4">Как устроен MyBook</h2>
        <p class="font-size-3">
        У нас, как и в обычной библиотеке, нужна регистрация для того, чтобы мы точно знали, какие книги вы читаете, и могли из десятков тысяч книг предложить что-то, подходящее именно вам. После регистрации вы сразу можете начать читать любые книги — почти для каждой есть пробный фрагмент, чтобы вы могли бесплатно полистать и распробовать ту или иную книгу прежде, чем оформить подписку.
        <p class="font-size-3">
            Понравившиеся книги добавляйте в список чтения, оплачивайте подписку, и всё — книги в вашем распоряжении до конца оплаченного времени. Их можно читать на сайте через браузер, воспользоваться приложением для iPhone и iPad или приложением для Android.
        </p>
        <p class="font-size-3">
            Многие книги из бесплатного набора вы можете читать без подписки, например, классику и издания, которые авторы и издатели разрешили читать без оплаты. Их больше 112 000, так что если у вас подписка закончилась, а читать хочется — обратите на них внимание или перечитайте заново что-то из вечной классики.
        </p>
    
        <h2 class="font-weight-bold font-size-4">Откуда берутся книги</h2>
        <p class="font-size-3">
            Сейчас у нас в коллекции более 394 000 книг. Из них 112 000 — это книги, которые можно читать бесплатно, достаточно зарегистрироваться. В каталог MyBook сейчас попадает вся коллекция изданий из книжного магазина ЛитРес, и мы постоянно работаем над тем, чтобы в каталоге появлялись всё новые и новые издательства и авторы.
        </p> 
        <p class="font-size-3">
            Десятки тысяч книг — внушительное число, но это пока совсем немного по сравнению с сотнями тысяч книг, которые доступны только в бумажном виде. Если вы представляете издательство, которое хочет свои книги открыть для читателей по подписке, или вы — автор, который хочет попасть в библиотеку, минуя привычные издательства — напишите нам.
        </p>
        <p class="font-size-3">
            Если вы представляете правообладателя и у вас возникли вопросы по правам на книги и о распространении их через MyBook, задайте вопрос почтой, мы обязательно ответим.
        </p>
    
        <h2 class="font-weight-bold font-size-4">Реквизиты компании</h2>
        <p class="font-size-3">
            ООО «Outsiders», ОГРН 1000710007000, ИНН 7774646464, КПП 770301001
        </p>
        Почтовый адрес: 133458, город Казань, ул. Кремлевская, дом 35
    </div>
</section>