@model dynamic

@{
    ViewBag.Title = "Способы оплаты";
    Layout = "_Layout";
}

<section class="mb-8">
    <div class="container">
        <h1 class="font-weight-bold">Как оплатить и способы оплаты</h1>
        <h2 class="font-weight-bold font-size-4">Банковские карты</h2>
        <p class="font-size-3">
            Оплатить подписку вы сможете картами основных платёжных систем: Visa, MasterCard и Maestro. Безопасность ваших данных и удобство платежей по карточкам обеспечиваются процессинговым центром PayOnline.
        </p>
    
        <h2 class="font-weight-bold font-size-4">PayPal</h2>
        <p class="font-size-3">
             PayPal – быстрый и простой способ оплатить подписку. Важнейшей особенностью PayPal является предоставление гарантий безопасности как покупателю так и продавцу.
        </p>
        <p class="font-size-3">
            Информация в системе надежно защищена с помощью мощных инструментов шифрования данных. Вам не нужно указывать данные вашей банковской карты в интернете. Зарегистрируйтесь в PayPal и привяжите свою банковскую карту Visa, MasterCard, или Maestro к вашему счету. У вас нет необходимости пополнять счет: средства поступают напрямую с вашей карты.
        </p>
    
        <h2 class="font-weight-bold font-size-4">Мобильная коммерция</h2>
        <p class="font-size-3">
            Если вам удобнее подписаться через мобильный телефон — воспользуйтесь оплатой через своего оператора. Укажите при оплате свой номер телефона, и вам придёт смс, в котором вас попросят подтвердить платёж. Если всё в порядке, после вашего согласия деньги будут списаны с вашего счёта у мобильного оператора.
        </p>
    </div>
</section>